.contenido-nosotros{
    @include tablet{
        @include grid(2, 2rem);
    }
}

.texto-nosotros blockquote{
    margin: 3rem 0;
    font-weight: $black;
    font: 2.2rem;
    padding-left: 1rem 0 3rem 0;
}